.user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  background-image: linear-gradient(to right bottom, #2C3E50, #FD746C) !important;
  align-items: baseline;
}

.user-item {
  border: 1px solid blue;
  min-width: 300px !important;
}
